<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOG4J//DTD LOG4J//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration>
	<!--日志输出到标准控制台 -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH\:mm\:ss:,SSS}] %c:%L - %m%n " />
		</layout>
	</appender>
	<!--info输出到文件，只是过滤info级别的信息 -->
	<appender name="infofile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/log4j/info.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH\:mm\:ss:,SSS}] %c:%L - %m%n " />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="info" />
		</filter>
	</appender>
	<!--输出到数据库 -->
	<!--<appender name="errordb" class="com.qtong.hospital.service.log.HospitalJDBCAppender"> 
		<param name="Threshold" value="ERROR"/> <param name="BufferSize" value="100"/> 
		<param name="URL" value="jdbc\:mysql\://localhost\:3306/healthcare?useUnicode\=true&amp;characterEncoding\=UTF-8"/> 
		<param name="driver" value="com.mysql.jdbc.Driver"/> <param name="user" value="root"/> 
		<param name="password" value="mysql"/> <param name="sql" value="insert into 
		t_sys_logs (currtime,currthread,currlevel,currcode,currmsg)VALUES ('%d{yyyy-MM-dd 
		HH:mm:ss,SSS}', '%t', '%p', '%l', '%m')"/> <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="LevelMin" value="info"/> <param name="LevelMax" value="error"/> 
		</filter> </appender> -->
	<!--error输出到文件，只是过滤error级别的信息 -->
	<appender name="errorfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/log4j/error.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH\:mm\:ss}] %c:%L - %m%n " />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="error" />
		</filter>
	</appender>
	<!--warn输出到文件，只是过滤warn级别的信息 -->
	<appender name="warnfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/log4j/warn.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH\:mm\:ss:,SSS}] %c:%L - %m%n " />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="warn" />
			<param name="LevelMax" value="warn" />
		</filter>
	</appender>
	<!--info输出到文件，只是过滤info级别的信息 -->
	<appender name="debugfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/log4j/debug.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH\:mm\:ss:,SSS}] %c:%L - %m%n " />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="LevelMax" value="debug" />
		</filter>
	</appender>
	<!--业务日志 -->
	<appender name="workinfofile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/log4j/workinfo.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH\:mm\:ss:,SSS}] %c - %m%n " />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="error" />
		</filter>
	</appender>

	<logger name="com.alibaba.druid" additivity="false">
		<level class="org.apache.log4j.Level" value="INFO" />
		<appender-ref ref="stdout" />
	</logger>

    <logger name="cn.zmlio.personsite" additivity="false">
        <level value="INFO" class="org.apache.log4j.Level">
        </level>
        <appender-ref ref="stdout" />
        <appender-ref ref="infofile" />
        <appender-ref ref="debugfile" />
        <appender-ref ref="errorfile" />
        <appender-ref ref="warnfile" />
    </logger>
	<root>
		<priority value="info" />
		<appender-ref ref="stdout" />
		<!-- <appender-ref ref="workinfodb"/> -->
		<!-- <appender-ref ref="infofile" /> <appender-ref ref="errorfile" /> <appender-ref 
			ref="debugfile" /> <appender-ref ref="warnfile" /> -->
	</root>

</log4j:configuration>
